// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

html,
body {
  min-height: 100%;
}

body {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  color: $text-color;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  color: $link-color;
}

a[type="button"],
button {
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

nav ul {
  @extend .reset-list;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 1em;
}

.onlyDesktop {
  display: block;
  @include respond-to(sm) {
    display: none;
  }
}

.onlyMobile {
  display: none;
  @include respond-to(sm) {
    display: block;
  }
}
